@import './configs.scss';

.container-navigation {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 10px 0;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            cursor: pointer;

            &.disabled {
                cursor: auto;
            }

            .iconNav {
                margin-right: 0;
                width: 24px;
                height: 24px;
            }

            .mini {
                width: 24px;
                height: 24px;
                border-color: $greyColor1;

                &.selected {
                    border-color: $primaryColor;
                }

                img {
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                }
            }

            @media screen and (min-width:$desktopBreakpoint) {
                justify-content: center;
                align-items: center;
                
                .iconNav {
                    margin-left: 15px;
                    margin-right: 15px;
                    width: 36px;
                    height: 36px;

                }
                
                .mini {
                    width: 36px;
                    height: 36px;
                    border-color: $greyColor1;
    
                    &.selected {
                        border-color: $primaryColor;
                    }
    
                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 70%;
                    }
                }
                
            }
        }
    }
}