@import './configs.scss';


.toggle-menu{
    display: flex;
    position: fixed;
    left: 0;
    height: 5%;
    bottom: 10%;
    width: 50%;
    align-items: center;
    justify-content:center;
    z-index: 1;
    background-color: rgba(49, 201, 201, 0.55);
    border: 0.5px solid black;
    color: black;

    @media screen and (min-width : $desktopBreakpoint) {
        display: none;
    }
        
}

.container-principal {
    position: fixed;
    left: 0;
    top: 16%;
    bottom: 15%;
    overflow-y: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 100;
    border-radius: 25px;
    border: 0.5px solid black;

    .container-filter {
        font-weight: normal;
        width: 100%;
        height: 100%;
        padding: 0.5%;
        align-items: flex-start;
        justify-content: space-between;
        // background-color: rgba(255, 255, 255, 0.15);
        background-color: rgba(49, 201, 201, 0.35);

        p {
            display: flex;
            font-size: 25px;
            text-decoration: underline;
            
            align-items: center;
            justify-content: center;
        }

        .filtros {
             
            .filter-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: bolder;
                font-size: 20px;
                color: black;


                li {   
                    // flex-direction: row;
                    width: 100%;
                    border-radius: 5%;
                    // justify-content: flex-start;
                    font-weight: normal;
                    font-size: 14px;
                    
                    p {
                        text-decoration: underline;
                        text-decoration-color: $greyColor1;
                        
                        width: 100%;
                    }
                }
            }
        }
    }

    &.visible {
        display: flex;
    }

    &.hidden {
        display: none;
    }

    @media screen and (min-width : $desktopBreakpoint) {
        &.hidden {
            display: flex;
        }
        left: 1%;
        top: 16%;
        bottom: 1%;
        width: 25%;
        background-color: white;

        .container-filter {

            height: 100%;
            border-color: 1px solid black;

            

            .filtros {
                display: flex;

                padding: 2%;
                
                .filter-name {
                    font-size: 22px;

                    li {
                        font-size: 16px;
                    }
                }
            }
        }

    }
    
    
}

// .container-principal {
    
//     .container-filter {
//         width: 100%;
//         display: flex;
//         // flex-direction: column;
//         flex: 1;
//         align-items: flex-start;
//         justify-content: space-between;
//         background-color: white;
//     }
//     &.visible {
//         display: flex;
//     }

//     &.hidden {
//         display: none;
//     }

// }
// .toggle-menu{
//     position:relative;
//     // top:167%;
//     // left:-200px;
//     // bottom:0px;
//     // z-index:999;
//     // right:0px;
//    }
   
// @media screen and (min-width : $desktopBreakpoint) {

//     .toggle-menu{
//         display: none;
//     }
    
//     .container-principal {
//         display: flex;
//         position: fixed;
//         left: 0;
//         top: 100px;
//         width: 20%;
//         height: 100%;
//         align-items: flex-start;
//         justify-content: flex-start;

//         &.visible {
//             display: flex;
//         }
    
//         &.hidden {
//             display: flex;
//         }
    
//         .container-filter {

//             .filtros {

//                 .filter-name{
//                     font-size: 26px;

//                     div{ 

//                         li{
//                             font-size: 16px;
//                             ::marker {
//                                 display: none;
//                             }
//                         }
//                     }
//                 }

//             }
//         }

//     }
    
// }